@model LineaUno.App.Web.Bus.PortalSMC.Model.Request.McmaeCargaForDosRequest
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row py-4 d-flex justify-content-center">
    <p class="col-10 m-0 h5">Seleccione el archivo para cargar la información de las actividades</p>
</div>
<div class="row py-4 d-flex justify-content-center align-items-center">
    <div class="col-4 col-md-2 col-xl-1" id="imagen-excel"></div>
    <span id="nombre-excel" class="text-dark font-weight-bold"></span>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-10">
        @using (Html.BeginForm("CargaExcel", "Actividad", FormMethod.Post, new { enctype = "multipart/form-data", id = "form-carga-excel" }))
        {
            <div class="custom-file">
                @Html.TextBoxFor(model => model.File, new { type = "file", id = "customFile", accept = ".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel", @class = "custom-file-input" })
                <label class="custom-file-label" for="customFile">Escoja un archivo Excel</label>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <button type="submit" class="btn btn-block btn-success col-5 col-md-3"><i class="fas fa-file-upload mr-2 fa-lg"></i>Cargar archivo</button>
            </div>
            @Html.ValidationMessageFor(model => model.ErrorMensaje, "", new { @class = "text-danger col-12 d-block px-0 pt-3" })
        }
    </div>
</div>
@if (ViewBag.Mensaje != null)
{
    <script type="text/javascript">
            window.onload = function () {
                Swal.fire(
                    'Exito',
                    '@ViewBag.Mensaje',
                    'success'
                )
            };
    </script>
}

